.div-button{
    display: flex;
}
.button-next, .button-previous{
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #369046;
    box-shadow: 2px 2px 2px 1px #8ae461 ;
}
.button-next:hover, .button-previous:hover{
    background-color: #8ae461;
    box-shadow: 2px 2px 2px 1px #369046 ;
}
.button-next:active, .button-previous:active{
    background-color: #369046;
    box-shadow: 2px 2px 2px 1px #8ae461 ;
    margin-bottom: 1px;
}
.visto{
    background-color: transparent;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.visto:hover{
    background-color: rgba(229, 226, 221, 0.36);
}
.visto:active{
    background-color: transparent
}
.link{
    color: #fff;
    text-align: center;
    margin: 10px;
}
.div-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.container-episode{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    width: 300px;
    list-style: none;
    cursor: pointer;
    border-radius: 15px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: #392e59;
    border: 10px double #8ae461;
    background-image: linear-gradient(to top ,#392e59,#f84a5f);
}
