.container-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.episode-container{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    width: 300px;
    list-style: none;
    cursor: pointer;
    border-radius: 10px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-color: #392e59;
    border: 8px double #ed4450;
    background-image: linear-gradient(to top ,
    #44d2b5,   #8ae461);
    cursor: pointer;
}