*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(to bottom, #4ffccb, #86cd6c, 
  #bcf0e1);
  width: 100vw;
}

.inputDiv{
  background-color: aqua;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs, .buttonInput{
  margin: 10px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

main{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer{
  padding: 30px;
  background-color: #27ff01ba;
}
