
.container-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px;
    justify-content: space-between;
}

li{
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    width: 300px;
    list-style: none;
    cursor: pointer;
    border-radius: 15px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    border: 10px double #8ae461;
    background-image: linear-gradient(to top ,#392e59,#f84a5f);
}
img{
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    border: 10px double #8ae461;
    background-color: #392e59;
}